We need two requests, the first to get  all contributors and the number of their contributions, the second to get all contributions daily to be able to know when two where spent without any contributions

### First Request : contributors

In [1]:
import requests
import os
from pprint import pprint
from requests import Request, Session
import pandas as pd

In [2]:
#The request of the stats on the contributors
owner="facebook"
repo="react"




rjson=[_ for _ in range(100)]
page=1


files=[]

#list_links=[]
#we iterate until the end of the list of users
while (len(rjson)==100):
    #Querry
    params = {'page':page, 'anon': 1,'per_page':100} #we want the nth page and anonymous users
    query_url = f"https://api.github.com/repos/{owner}/{repo}/contributors"
    r = requests.get(query_url,params = params)
    page +=1
    rjson = r.json()
    files.append(rjson)

In [4]:
contributors = pd.DataFrame(columns=["User_ID","contributions"])    
anon=0
for json in files:
    for i in range(len(json)):
        try :
            contributors = contributors.append({"User_ID": json[i]['id'],"contributions":json[i]['contributions']}, ignore_index=True) 
        except :
            contributors = contributors.append({"User_ID": "A"+str(anon),"contributions":json[i]['contributions']}, ignore_index=True)
            anon+=1

In [5]:
contributors

     User_ID contributions
0       8445          1777
1     810438          1554
2      29597          1439
3       6820          1268
4      63648           852
...      ...           ...
1601   A1168             1
1602   A1169             1
1603   A1170             1
1604   A1171             1
1605   A1172             1

[1606 rows x 2 columns]

In [6]:
contributors.to_csv(r'contributors.csv', index = False)

### Second request : contributions

In [27]:
#The request of the stats on the contributors
owner="facebook"
repo="react"




rjson=[_ for _ in range(100)]
page=1


files=[]

#list_links=[]
#we iterate until the end of the list of users
while (len(rjson)==100):
    #Querry
    params = {'page':page, 'anon': 1,'per_page':100} #we want the nth page and anonymous users
    query_url = f"https://api.github.com/repos/{owner}/{repo}/commits"
    r = requests.get(query_url,params = params)
    page +=1
    rjson = r.json()
    files.append(rjson)

In [40]:
jsonhourly[0]['commit']['author']['date'][0:10]

'2020-11-09'

In [63]:
contributions = pd.DataFrame(columns=["Day"])    

for json in files[:-1]:
    for i in range(len(json)):
        try :
            contributions = contributions.append({"Day": json[i]['commit']['author']['date'][0:10]}, ignore_index=True) 
        except :
            contributions = contributions.append({"Day": "unknown"}, ignore_index=True)

In [64]:
contributions

             Day
0     2020-11-09
1     2020-11-09
2     2020-11-09
3     2020-11-08
4     2020-11-03
...          ...
3995  2018-02-27
3996  2018-02-27
3997  2018-02-27
3998  2018-02-27
3999  2018-02-27

[4000 rows x 1 columns]

In [65]:
contributions=contributions.groupby(["Day"]).size().reset_index(name ='Total')

In [66]:
contributions

            Day  Total
0    2018-02-27      5
1    2018-02-28      2
2    2018-03-03      2
3    2018-03-04      2
4    2018-03-07      1
..          ...    ...
743  2020-10-31      2
744  2020-11-02      1
745  2020-11-03      4
746  2020-11-08      1
747  2020-11-09      3

[748 rows x 2 columns]

In [67]:
contributions.to_csv(r'contributions.csv', index = False)